<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AkadoTVChannels4KodiService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AkadoTVChannels4KodiService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AkadoTVChannels4KodiService.My.MySettings>
            <setting name="channelsListURL" serializeAs="String">
                <value>https://wintray.akado-ural.ru/wintray.php?action=media</value>
            </setting>
            <setting name="epgURL" serializeAs="String">
                <value>https://wintray.akado-ural.ru/misc/telecast.xml</value>
            </setting>
            <setting name="tvListSavePath" serializeAs="String">
                <value>C:\Program Files (x86)\Kodi\AkadoIPTV\akadoIPTVChannels.m3u</value>
            </setting>
            <setting name="tvEpgSavePath" serializeAs="String">
                <value>C:\Program Files (x86)\Kodi\AkadoIPTV\akadoIPTVEPG.xml</value>
            </setting>
            <setting name="tvEpgShift" serializeAs="String">
                <value>5</value>
            </setting>
        </AkadoTVChannels4KodiService.My.MySettings>
    </applicationSettings>
    <userSettings>
        <AkadoTVChannels4KodiService.My.MySettings>
            <setting name="pollTimerMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="agingTimeMinutes" serializeAs="String">
                <value>1400</value>
            </setting>
        </AkadoTVChannels4KodiService.My.MySettings>
    </userSettings>
</configuration>